SPRING_DATASOURCE_URL=jdbc:mysql://mak-it-db.cazd9mcpebky.us-east-1.rds.amazonaws.com:3306/mak_it_db?createDatabaseIfNotExist=true&serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=tu_contrasena_de_rds
